<!--
/**
 *  __          __  _    _____ _____  ______   _____        _        _                         
 *  \ \        / / | |  |_   _|  __ \|  ____| |  __ \      | |      | |                        
 *   \ \  /\  / /__| |__  | | | |  | | |__    | |  | | __ _| |_ __ _| |__   __ _ ___  ___  ___ 
 *    \ \/  \/ / _ \ '_ \ | | | |  | |  __|   | |  | |/ _` | __/ _` | '_ \ / _` / __|/ _ \/ __|
 *     \  /\  /  __/ |_) || |_| |__| | |____ _| |__| | (_| | || (_| | |_) | (_| \__ \  __/\__ \
 *      \/  \/ \___|_.__/_____|_____/|______(_)_____/ \__,_|\__\__,_|_.__/ \__,_|___/\___||___/                                                                                                                                                                                     
 *                                                                            
 *  @author André Ferreira <andrehrf@gmail.com>
 *  @license MIT
 */
-->

<div class="wi-sidebar-databases wi-treeview" id="workspace-databases" rel="/databases"></div>
